[submodule "bundle/Color-Sampler-Pack"]
	path = bundle/Color-Sampler-Pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/applescript.vim"]
	path = bundle/applescript.vim
	url = https://github.com/vim-scripts/applescript.vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/addon-mw-utils"]
	path = bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/jimmyharris/nerdcommenter.git
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
[submodule "bundle/SelectBuf"]
	path = bundle/SelectBuf
	url = https://github.com/vim-scripts/SelectBuf.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = https://github.com/jimmyharris/vim-colors-solarized.git
[submodule "bundle/TeX-9"]
	path = bundle/TeX-9
	url = https://github.com/vim-scripts/TeX-9.git
[submodule "bundle/armasm"]
	path = bundle/armasm
	url = https://github.com/vim-scripts/armasm.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/bundler"]
	path = bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/rvm"]
	path = bundle/rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/dbext"]
	path = bundle/dbext
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/greplace"]
	path = bundle/greplace
	url = https://github.com/vim-scripts/greplace.vim.git
[submodule "bundle/cscope"]
	path = bundle/cscope
	url = https://github.com/brookhong/cscope.vim.git
[submodule "bundle/javascript-indent"]
	path = bundle/javascript-indent
	url = https://github.com/vim-scripts/JavaScript-Indent.git
[submodule "bundle/UltiSnips"]
	path = bundle/UltiSnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/json"]
	path = bundle/json
	url = https://github.com/jakar/vim-json.git
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "bundle/qargs"]
	path = bundle/qargs
	url = https://github.com/henrik/vim-qargs.git
[submodule "bundle/puppet-syntax"]
	path = bundle/puppet-syntax
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
[submodule "bundle/dispatch"]
	path = bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/jdaddy"]
	path = bundle/jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
